.shop {
  margin: 2rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;

  padding: 2rem;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
}

.product > img {
  width: 100px;
  min-height: 100px;
  background-color: lightseagreen;
}

.product:nth-of-type(2) > img {
  background-color: red;
}

.product:nth-of-type(3) > img {
  background-color: yellowgreen;
}

.product:nth-of-type(4) > img {
  background-color: brown;
}

.product:nth-of-type(5) > img {
  background-color: grey;
}

.product:nth-of-type(6) > img {
  background-color: black;
}

.product:nth-of-type(7) > img {
  background-color: navy;
}

.product:nth-of-type(8) > img {
  background-color: gold;
}
